TELEGRAM_BOT_ENV={"botSettings":{"TELEGRAM_BOT_TOKEN":"","TELEGRAM_BOT_WEBHOOK":"","TELEGRAM_BOT_WEBHOOK_SECRET":"","TELEGRAM_BOT_ADMINS":[]},"mtProtoSettings":{"TELEGRAM_API_HASH":"","TELEGRAM_APP_ID":""},"storageSettings":{"SUPABASE_SERVICE_KEY":"","SUPABASE_URL":""},"workflowFunctions":{"SOURCE_REPOSITORY":"","SOURCE_REPO_OWNER":"","TARGET_BRANCH":""}}
APP_ID=
APP_PRIVATE_KEY=
VOYAGEAI_API_KEY=
KERNEL_PUBLIC_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
TEMP_SAFE_PAT=