BOT_TOKEN=123:xyz
BOT_WEBHOOK=...
BOT_WEBHOOK_SECRET=...
BOT_ADMINS=[1234,5678]

SUPABASE_URL=...
SUPABASE_SERVICE_KEY=...

TELEGRAM_APP_ID=12345678
TELEGRAM_API_HASH=...

APP_PRIVATE_KEY=...
APP_ID=123456