name: "Workflow Functions"

on:
  workflow_dispatch:
    inputs:
      stateId:
        description: "State Id"
      eventName:
        description: "Event Name"
      eventPayload:
        description: "Event Payload"
      settings:
        description: "Settings"
      authToken:
        description: "Auth Token"
      ref:
        description: "Ref"

jobs:
  compute:
    name: "Kernel-Telegram"
    runs-on: ubuntu-latest
    permissions: write-all
    env:
      TELEGRAM_BOT_ENV: ${{ secrets.TELEGRAM_BOT_ENV }}

    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.10.0"

      - name: install dependencies
        run: yarn

      - name: execute directive
        run: npx tsx ./src/workflow-entry.ts
        id: Kernel-Telegram
        env:
          TELEGRAM_BOT_ENV: ${{ secrets.TELEGRAM_BOT_ENV }}
